[Desktop Entry]
Name=BOOST VECTOR EX Demo
Comment=Play this game on Steam
Exec=steam steam://rungameid/4338440
Icon=steam_icon_4338440
Terminal=false
Type=Application
Categories=Game;
