[Desktop Entry]
Name=Game 752165779117441075
Exec=steam://rungameid/412220 %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-752165779117441075;
