[Desktop Entry]
Name=Revolution Idle
Comment=Play this game on Steam
Exec=steam steam://rungameid/2763740
Icon=steam_icon_2763740
Terminal=false
Type=Application
Categories=Game;
